<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>userID</key>
		<string>10001</string>
		<key>userName</key>
		<string>仝磊鸣</string>
		<key>userIconImage</key>
		<string>Default.png</string>
		<key>sex</key>
		<string>male</string>
		<key>productID</key>
		<string>10001</string>
		<key>productName</key>
		<string>里程碑21奥山的房价高了打发寂寞的法人两三百啦啦啦啦啦了啦啦啦啦啦啦啦啦啦啦啦啦啦米爱适配卡萨丁；</string>
		<key>school</key>
		<string>北京交通大学</string>
		<key>nowPrice</key>
		<integer>1000</integer>
		<key>originalPrice</key>
		<integer>3000</integer>
		<key>pictureArray</key>
		<array>
			<string>phone3.jpg</string>
			<string>phone2.jpg</string>
			<string>phone1.jpg</string>
		</array>
		<key>skimTimes</key>
		<integer>0</integer>
		<key>praiseTimes</key>
		<integer>0</integer>
		<key>location</key>
		<string>北京旗胜家园</string>
		<key>publishTime</key>
		<string>2016.04.04</string>
	</dict>
</array>
</plist>
